.tdNumber,
.tdVWAP,
.marketCap {
    color: rgb(81, 80, 80);
}

.tdName,
.tdPrice,
.tdSymbol
 {
    font-weight: bold;
}

.tdName {
   text-align: left;
   width: 250px;
 
}

.tdSymbol{
    color: rgb(221, 12, 46);
}

.text__red {
    color: red;
}

.text__green {
    color: green;
}
.item {
    cursor: pointer;
}