.tdNumber,
.tdVWAP,
.marketCap {
    color: rgb(81, 80, 80);
}

.tdName,
.tdPrice,
.tdSymbol
 {
    font-weight: bold;
}

.tdSymbol{
    color: rgb(221, 12, 46);
}

.text__red {
    color: red;
}

.text__green {
    color: green;
}