.header {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    width: 100%;
    border-bottom: 1px solid #d9dcdd;
}

.headerList {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}

.headerList li {
    transition: transform 0.3s ease;
    min-width: 120px;
}

.headerList li:hover {
    transform: scale(1.1);
}

.titleList {
    font-size: 12px;
    border-bottom: 1px solid rgb(231, 226, 226);
}

.wrapperList {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .headerList {
        justify-content: center;
        gap: 20px;
    }

    .titleList {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 8px 10px;
    }

    .headerList {
        gap: 10px;
    }

    .headerList li {
        min-width: 80px;
    }

    .titleList {
        font-size: 16px;
    }
}