.wallet {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: top;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(72, 71, 71, 0.56);
    padding: 50px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: visibility 0s linear 0.6s;
}

.wallet.show {
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.6s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        /* Начальная позиция выше */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Конечная позиция */
    }
}

.walletContent {
    display: flex;
    flex-direction: column;
    width: 554px;
    height: auto;
    border-radius: 14px;
    background: rgba(250, 250, 250, 0.907);
    opacity: 0;
    animation: slideIn 0.6s forwards;
    align-items: center;
    padding: 30px;
    color:black;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.walletContent.show {
    opacity: 1;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #424242;
    transition: color 0.2s ease;
    font-weight: bold;
}

@media (max-width: 768px) {
    .walletContent {
        width: 90%;
        padding: 20px;
    }

    .labelInput,
    .inputField {
        width: 90%;
    }

    .close {
        font-size: 20px;
    }
  
}

@media (max-width: 480px) {
    .wallet {
        padding: 20px;
    }

    .labelInput {
        font-size: 16px;
    }

    .inputField {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }
}