table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 16px;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #ddd;
}
td {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
}