.table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 16px;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #ddd;
}
td {
    font-size: 14px;
    padding: 3px;
    border: 1px solid #ddd;
    text-align:center
} 

/* Стили для мобильных устройств */
@media (max-width: 600px) {
    .table thead {
        display: none;
    }

    .table tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        padding: 10px;
    }

    .table td {
        text-align: left;
        position: relative;
        padding-left: 50%;
        /* Отступ слева для текста ячейки */
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        font-size: 12px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {

    th,
    td {
        padding: 8px;
    }

    th {
        font-size: 15px;
    }

    td {
        font-size: 13px;
    }
}