.wallet__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

.wallet__table th{
    font-size: 14px;
    text-align: center;
    border: 2px solid #ddd;
    padding: 3px;
}  

.wallet__table tbody td {
    font-size: 13px;
    border: 2px solid #ddd;
    text-align: left;
    padding: 5px;
} 

.text__red {
    color: red;
}

.text__green {
    color: green;
}
.link{
    text-decoration: underline;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}
.buttonBack {
    background-color:rgb(175, 170, 170);
    width: 150px;
    padding: 5px;
    margin: 5px auto;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: background-color 0.2s, transform 0.1s;
}

.buttonBack:active {
    background-color: #242524;
    transform: scale(0.95);
}



.delete__button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete__button:hover {
    background-color: #ff1a1a;
}