* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family:'Lucida Sans Regular', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 24px;
  min-height: 100vh;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 16px;
  }

}

@media (max-width: 480px) {
  .container {
    padding: 12px;
  }
}